# 1º - Variables

In [1]:
print("I love pizza")

I love pizza

In [4]:
print("It's really good!")

It's really good!

In [7]:
name = "Bro"
print(type(name))
print("Hello "+name)

<class 'str'>
Hello Bro

In [8]:
first_name = "Bro"
last_name = "Code"
full_name = first_name + " " + last_name

print(full_name)

Bro Code

In [11]:
age = 21
age = age + 1
#age += 1
print(age)
print(type(age))

22
<class 'int'>

In [12]:
age = 21
age = age + 1
#age += 1
print("Your age is: "+age)

TypeError: can only concatenate str (not "int") to str

No funciona porque intentas concatenar un número como si fuera un string. Para que funcione abra que hacer lo siguiente

In [13]:
age = 21
age = age + 1
#age += 1
print("Your age is: "+str(age))

Your age is: 22

In [18]:
height = 250.5
print("Your height is: "+str(height)+"cm")
#print(type(height))

Your height is: 250.5cm

In [22]:
human = True
print("Are you a human: "+str(human))
print(type(human))

Are you a human: True
<class 'bool'>

## 1.2º - Multiple assignment
Allows us to assign multiple variables at the same time in one line of code

In [24]:
name = "Bro"
age = 20
attractive = True

print(name)
print(age)
print(attractive)

Bro
20
True

In [25]:
name, age, attractive = "Bro", 20, True

print(name)
print(age)
print(attractive)

Bro
20
True

In [26]:
Spongebob = 30
Patrick = 30
Sandy = 30
Squidward = 30

print(Spongebob)
print(Patrick)
print(Sandy)
print(Squidward)

30
30
30
30

In [27]:
Spongebob = Patrick = Sandy = Squidward = 30

print(Spongebob)
print(Patrick)
print(Sandy)
print(Squidward)

30
30
30
30

# 2º - String Methods

In [38]:
name = "bRo"
print(len(name))
print(name.find("b"))
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.isdigit())
print(name.isalpha())
print(name.count("o"))
print(name.replace("o","a"))
print(name*3)

3
0
Bro
BRO
bro
False
True
1
bRa
bRobRobRo

# 3º - Type Cast